* {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #027100;
}

a.insta-gaucho-dev {
    background-color: #014700;
    color: white;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
}

a.insta-gaucho-dev:hover {
    text-decoration: underline;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.class-nao-ativo {
    padding: 2rem 1rem;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    transition: .5s;
}

.class-ativo {
    transition: .5s;
    padding: 2rem 1rem;
    background-color: #039e009f;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}